@CHARSET "UTF-8";

.baseFrame {
    width: 50%;
    float: left;
}

#lefter {
}

#righter {

}

#htmlPane {
    width: 98%;
    border: 1px solid grey;
    margin-top: 1%;
    margin-left: 0.5%;
    font-size: 15px;
}

#preview {
    width: 98%;
    margin-top: 1%;
    margin-left: 0.5%;
}
