@CHARSET "UTF-8";

.baseFrame {
    width: 50%;
    float: left;
}

#lefter {
}

#righter {

}

#fileName {
    width: 20%;
}

#htmlPane {
    width: 98%;
    font-size: 15px;
    overflow: hidden;
}

#preview {
    width: 98%;
    margin-top: 1%;
    margin-left: 0.5%;
}

#submitButton {
    margin: 15px auto;
}
