@CHARSET "UTF-8";

.baseFrame {
    width: 50%;
}

#lefter {
    float: left;
    width: 100%;
}

#righter {
    float: right;
}

#fileName {
    width: 20%;
    margin: 2% 0% 0% 0.5%;
    max-width: 150px;
}

#htmlPane {
    width: 98%;
    font-size: 15px;
    overflow: hidden;
    height: 85% !important;
}

#preview {
    width: 95%;
    margin-top: 6.6%;
    margin-bottom: 8.4%;
    margin-right: 0.5%;
    height: 85% !important;
    float: right;
    background-color: white;
    border: 0;
}

#submitButton {
    float: right;
    margin: 1% 1.2% 0% 0%;
}

#showPreview {
    float: right;
    margin: 1% 1.2% 0% 0%;
}

