@CHARSET "UTF-8";
body{
	border: 0;
	margin: 0;
}
#header {
	width: 100%;
	background-color: #4486bb;
	font-size: 30px;
	text-align: center;
	height: 5em;
	line-height: 5em;
	overflow: hidden;
}

#body {
	width: 100%;
	height:25em;
	line-height: 25em;
	overflow: hidden;
	text-align:center;
	position: absolute;
}

#footer {
	width: 100%;
	background-color: #7253ac;
}